{% extends 'base.html'%}

{% block title%}
CREAR ASISTENCIA
{% endblock %}

{% block contend %}
<div class="col-md-4 offset-md-4">
    <form method="POST">
        {% csrf_token%}
        <div class="card border border-danger">
            <div class="card-header bg-danger text-white text-center">
                Registro de Asistencia
            </div>
            <div class="card-body">
                {{ asistencia_forms.as_p }}
                <button class="btn btn-sm btn-primary" type="submit">Guardar</button>
            </div>
        </div>
    </form>
</div>
{% endblock %}