<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.tailwindcss.com/2.2.19/tailwind.min.css" rel="stylesheet">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Dashboard</title>
</head>

<body class="bg-[#262837] w-full min-h-screen">
    <nav class="bg-gray-600">
        <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
            <div class="flex items-center justify-between h-16">
                <div class="flex items-center">
                    <div class="flex-shrink-0 flex flex-row gap-4">
                        <img class="h-10 w-10 rounded-full" src="{{alumno.img_path}}" alt="Logo">
                        <h1 class="text-white text-3xl ml-6">{{alumno.name}}</h1>
                    </div>

                    <div class="hidden md:block">
                        <div class="ml-10 flex items-baseline space-x-4">
                            <a href="#"
                                class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Home</a>
                            <a href="#"
                                class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">About</a>
                            <a href="#"
                                class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Services</a>
                            <a href="#"
                                class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Profile</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>

    <div
        class="mx-auto my-auto w-[80vw] h-[70vh] border border-gray-299 mt-10 rounded-xl flex flex-row items-center justify-center gap-12">
        <a href="{% url 'notas' alumno.id %}"
            class="text-gray-300 bg-gray-700 text-white px-3 py-2 rounded-md text-sm font-medium">Ver mi notas</a>

        <a href="{% url 'calendar' alumno.id %}"
            class="text-gray-300 bg-gray-700 text-white px-3 py-2 rounded-md text-sm font-medium">Ver mis asistencias</a>

    </div>

</body>

</html>
