{% extends "base_template.html" %}

{% block title %}Hackaton 09{% endblock %}

{% block content %}
<br>
<div class="table-responsive col-md-8 offset-md-2">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nombre</th>
                <th scope="col">Descripción</th>
            </tr>
        </thead>
        <tbody>
            {% for categoria in categorias %}
            <tr>
                <th scope="row">{{loop.index}}</th>
                <td>{{ categoria.nombre }}</td>
                <td>{{ categoria.descripcion }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}