<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CSS -->
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">

  <title>Procesar Compra</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Mi Aplicación</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" href="/">Inicio <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/logout">Cerrar Sesión</a>
            </li>
          </ul>
        </div>
      </nav>
    <div class="container mt-5">
        <h1 class="mb-4">Procesar Compra</h1>
        <p>Producto: {{ producto.nombre }}</p>
        <form method="POST" action="{{ url_for('procesar_compra', producto_id=producto.id) }}">
            <input type="number" name="cantidad" placeholder="Introduzca la cantidad a comprar">
            <input type="submit" value="Comprar">
        </form>                
    </div>
</body>

</html>
