{% extends "base_template.html" %}

{% block title %}Hackaton 09{% endblock %}

{% block content %}
<br>
<div class="table-responsive col-md-8 offset-md-2">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nombre</th>
                <th scope="col">Cantidad</th>
                <th scope="col">Marca</th>
                <th scope="col">Precio</th>
            </tr>
        </thead>
        <tbody>
            {% for prod in productos %}
            <tr>
                <th scope="row">{{loop.index}}</th>
                <td>{{ prod.nombre }}</td>
                <td>{{ prod.cantidad }}</td>
                <td>{{ prod.marca }}</td>
                <td>{{ prod.precio }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}