<!DOCTYPE html>
<html>
<head>
	<title>Colegio</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	{% load static %}
        <link href='http://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="{% static 'normalize.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
</head>
<body>

	<header class="main-head">
		<nav class="main">
			<h1 id="logo">Bienvenido</h1>
			<ul>
				{% if request.user.is_authenticated %}
				<li>{{ user.get_username }}</li>
				<li><a href="{% url 'logout' %}">Logout</a></li>
				{% else %}
				<li><a href="{% url 'login' %}">Login</a></li>
				{% endif %}


			</ul>
		</nav>
	</header>

	{% if messages %}
		{% for message in messages %}
		<div class="notification {{ message.tags}}">
			{{ message }}
		</div>
		{% endfor %}
	{% endif %}

	<!-------------------------------------
					Navigation Bar
	-------------------------------------->
	<div class="main">

		<nav class="second-nav">

			<a class="feed" href="{% url 'index' %}">Inicio</a>

			{% if request.user.is_authenticated %}
			<a class="profile" href="{% url 'perfil' %}">Mi Perfil</a>
				{% if user.role == 'Profesor' %}
					<a class="new" href="{% url 'crear_evaluacion' %}">Crear nueva evaluacion</a>
				{% elif user.role == 'Alumno' %}
					<a class="new" href="{% url 'evaluaciones_alumno' %}">Ver evaluaciones</a>
				{% elif user.role == 'Administrador'%}
					<a href="{% url 'crear_usuario' %}">Crear Usuario</a>
				{% elif user.is_staff %}
					<a href="{% url 'crear_usuario' %}">Crear Usuario</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					<a href="{% url 'crear_curso' %}">Crear Curso</a>
				{% endif %}
			{% endif %}
		</nav>


		{% block content %}

		{% endblock content %}



	</div>

	<footer>

	</footer>

</body>
</html>