{% extends "base_template.html" %}

{% block title %}Hackaton 09{% endblock %}

{% block content %}
<br>
<div class="table-responsive col-md-8 offset-md-2">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nombre</th>
                <th scope="col">Periodo</th>
                <th scope="col">Alumno</th>
                <th scope="col">Profesor</th>
            </tr>
        </thead>
        <tbody>
            {% for salon in salones %}
            <tr>
                <th scope="row">{{loop.index}}</th>
                <td>{{ salon.nombre }}</td>
                <td>{{ salon.periodo }}</td>
                <td>{{ salon.alumno }}</td>
                <td>{{ salon.profesor }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}