{% extends 'base.html' %}

{% block content %}
<h2>Asistencias - {{ curso.nombre }}</h2>
<table>
    <thead>
        <tr>
            <th>Alumno</th>
            <th>Fecha</th>
            <th>Estado</th>
        </tr>
    </thead>
    <tbody>
        {% for asistencia in asistencias %}
        <tr>
            <td>{{ asistencia.alumno.user.username }}</td>
            <td>{{ asistencia.fecha }}</td>
            <td>{{ asistencia.estado }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}