{% extends "base_template.html" %}

{% block title %}Hackaton 09{% endblock %}

{% block content %}
<br>
<div class="table-responsive col-md-8 offset-md-2">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nombre</th>
                <th scope="col">Dni</th>
                <th scope="col">Celular</th>
                <th scope="col">Dirección</th>
            </tr>
        </thead>
        <tbody>
            {% for cli in clientes %}
            <tr>
                <th scope="row">{{loop.index}}</th>
                <td>{{ cli.nombre }}</td>
                <td>{{ cli.dni }}</td>
                <td>{{ cli.celular }}</td>
                <td>{{ cli.direccion }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}