{% extends "base_template.html" %}

{% block title %}{{ factura.cliente }}{% endblock %}

{% block content %}
    <h3> Nro. Factura {{ factura.cliente }}</h3>
    <div>
        <span class="blogDate">{{ factura.created|datetime('full') }}</span>
        <h4> Cliente: {{ factura.numero_factura }}</h4>

    </div>
    <div>
    <ul>
        <h4> Lista de Productos </h4>
    {% for detalle in factura.detalles %}
        <li>
            Nombre: {{ detalle.nombre }}
            Precio: ${{ detalle.precio}}
            Cantidad: {{ detalle.cantProducto}}
            Subtotal: ${{ detalle.subtotal }}
        </li>
    {% endfor %}
    </ul>
        Total : ${{ factura.total }}
    </div>

{% endblock %}