{% extends 'adminlte/base.html' %}

<!-- Set title of app -->
{% block title %}Producto{% endblock %}

<!-- Specify content of main body of page -->
{% block content %}
<div class="row mb-3">
    <h4 class="ml-3 col-3">Clientes</h4>
</div>

<div class="col-md">
    <div class="card">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Dni</th>
                    <th scope="col">Celular</th>
                    <th scope="col">Dirección</th>
                    <th scope="col">Puntos</th>
                    <tr></tr>
                </tr>
            </thead>
            <tbody>
                {% for object in object_list %}
                <tr>
                    <th scope="row">{{ forloop.counter }}</th>
                    <td>{{ object.nombre }}</td>
                    <td>{{ object.dni }}</td>
                    <td>{{ object.celular }}</td>
                    <td>{{ object.direccion }}</td>
                    <td>{{ object.puntos }}</td>
                </tr>
                {% empty %}
                    <li>No hay productos aún.</li>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}