{% extends 'base.html' %}

{% block content %}
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h2 class="text-center">Agregar nota</h2>
            <form method="POST" action="{{ url_for('add_nota', alumno_id=alumno.id) }}">
                <div class="form-group">
                    <label for="bimestre_id">Bimestre</label>
                    <select class="form-control" id="bimestre_id" name="bimestre_id">
                        {% for bimestre in bimestres %}
                            <option value="{{ bimestre.id }}">{{ bimestre.nombre }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <label for="curso_id">Curso</label>
                    <select class="form-control" id="curso_id" name="curso_id">
                        {% for curso in cursos %}
                            <option value="{{ curso.id }}">{{ curso.nombre }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <label for="nota">Nota</label>
                    <input type="number" class="form-control" id="nota" name="nota" required>
                </div>
                <div class="d-flex justify-content-center">
                    <button type="submit" class="btn btn-primary btn-lg" data-toggle="button" aria-pressed="false" autocomplete="off">Agregar</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
