{% extends 'base.html' %}

{% block content %}
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h2 class="text-center">Crear Bimestre</h2>
            <form method="POST" action="{{ url_for('create_bimestre') }}">
                <div class="form-group">
                    <label for="nombre">Nombre</label>
                    <input type="text" class="form-control" id="nombre" name="nombre" required>
                </div>
                <div class="form-group">
                    <label for="descripcion">Descripción</label>
                    <input type="text" class="form-control" id="descripcion" name="descripcion" required>
                </div>
                <div class="form-group">
                    <label for="anio_escolar">Año escolar</label>
                    <input type="text" class="form-control" id="anio_escolar" name="anio_escolar" required>
                </div>
                <div class="d-flex justify-content-center">
                    <button type="submit" class="btn btn-primary btn-lg" data-toggle="button" aria-pressed="false" autocomplete="off">Crear</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}

