{% extends "base_template.html" %}

{% block title %}Product{% endblock %}

{% block content %}
<h1>Detalle del producto:</h1>
<br>
<table class="table">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Nombre</th>
            <th scope="col">Precio</th>
            <th scope="col">Stock</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{ product.id }}</td>
            <td>{{ product.name }}</td>
            <td>$ {{ product.price }}</td>
            <td>{{ product.stock }} unid.</td>
        </tr>
    </tbody>
</table>
<br>
{% endblock %}